$color-container:rgb(218, 170, 14);
$color-leftback:rgb(212, 213, 216);
$color-white:rgb(255, 255, 255);

$font-normal: Arial, Helvetica, Sans-Serif;
$font-cursive: 'Sacramento', cursive;

$medium: 15px;
$large: 30px;

// rgb(127, 236, 55);
// rgb(170, 240, 113);
// rgb(58, 107, 212);
// rgb(49, 49, 48);